h1{
    color: red;
}
p{
    font-style: italic;
    font-size: larger;

}
.media{
    background-color: aquamarine;
}

  
  @media (min-width: 300px) {
    body {
      font-size: 18px;
      background-color: burlywood
      ;
    }   
    .media{
        background-color: bisque;
    }
  }
  
  @media (min-width: 600px) {
    body {
      font-size: 20px;
      background-color: lightcoral;
    }
    .media{
        background-color: bisque;
    }
  }
  