.btn {
    width: 100px;
    height: 20px;
}
.box{
    text-align: center;

    width: 100%;

}
table{
    width: 100%;

    display: none;
    text-align: center;

}
table, th, td {
    border: 1px solid;
  }
  tr{
    height: 30px;
  }
  